<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="\css\main.css">
    <title>Mail Service</title>
</head>

<body>
    {{> _header}}
    {{> _add_btn}}
    <div class="container">
        {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.1/ckeditor.js"
        integrity="sha512-2nFxKVmFuBhAR45DBnAANBjtxzf7z0m6wRU7NOquxibA6efrQpUtdjFT4wzqewqTI3/cCNbBzJNUtu1NxjFiKw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        M.Sidenav.init(document.querySelector(".sidenav")); // initializes sidebar 
        M.FormSelect.init(document.querySelector("#status"));
        CKEDITOR.replace("body", {
            plugins: "wysiwygarea,toolbar,basicstyles,link"
        });
    </script>
</body>

<script>
    var input = document.getElementById("schTime");
    function onChange() {
        console.log('console', event.target.value)
        if (event.target.value == "sec") {
            input.setAttribute("max", 60);
        } else if (event.target.value == "hour") {
            input.setAttribute("max", 24);
        } else if (event.target.value == "day") {
            input.setAttribute("max", 8);
        } else if (event.target.value == "date") {
            input.setAttribute("max", 31);
        } else if (event.target.value == "mon") {
            input.setAttribute("max", 12);
        }
    }
</script>

</html>