<div class="row">
    <div class="col s12">
        <h3>{{title}}
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{mailBody}}}
            </div>
        </div>
        <a href="/dashboard" class="btn">Dashboard</a>
    </div>
</div>